{% extends 'blog/base.html'%}
{% load static %}
{% block title%}
  Mathbite | About Us
{% endblock %}
{% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'blog/assets/img/about-bg.jpg' %});">
            <div class="container position-relative px-2 px-lg-2">
                <div class="row gx-2 gx-lg-2 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">We share our personal experience of preapring a child for IIT JEE</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{%  block content %}
        <!-- Main Content-->
        <main class="mb-2">
            <div class="container px-2 px-lg-2">
                <div class="row gx-2 gx-lg-2 justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <p align="justify">Summer of 1990 is when I saw the first set of IIT JEE math problems shared by a classmate. That problem solving session triggered a 2 year rigor which got me into IIT Madras. Living in the non-metro city of Madurai, Brilliant tutorial notes and IIT JEE preparation guides were the only source of coaching. It was a lonely journey with moral support from parents and teachers.</p>
                        <p align="justify">Seven years later, I was standing in a queue to get my kid brother enrolled in the best IIT JEE Physics coaching class in Chennai. The quality of notes and the structured training imparted by those dedicated teachers were a far cry from the lonely preparations of the non-metro aspirants. Here again praents and teachers could only provide moral support. It was a tough journey where IIT JEE aspirants had to move from one class to another across town as each subject had a different coach. However the journey was not lonely as my borhter had his coaching classmates to lean on.</p>
                        <p align="justify">Ninteen years hence it was my son's turn to prepare for IIT JEE. Only this time, there were organised coaching centers, with well planned timetable and rigorous testing methods which let the aspirants pit themselves against children across the nation. The rigor of training was similar to preparations for competitive sports.</p>
                        <p align="justify">The current IIT JEE preparation is no less than a preparation of a professional sports champion competing in a world championship. While gifted amatures can take a stab at this exam, it is no more about raw talent. The chances of success depends as much on the systematic coaching as on the talent and hard work of the child.</p>
                        <p align="justify">Success in current IIT JEE exam requires a team effort involving the research teams and teching staff of coaching institutes, the teachers and support staff of the school and above all the parents of the student. It takes a whole village to ensure success at IIT JEE.</p>
                        <p align="justify">Most parents, unless you have been through the grind and still remember IIT JEE problems, play an indirect but a very critical role in the preparation of an IIT JEE aspirant.</p>
                        <p align="justify">This blog is all about the role of a parent in the making of an IIT ian. It is a humble attempt at sharing my journey as a parent of an IIT ian. The ups and downs of the two year rigor, the hard choices that the child needs to make and our role in enabling the child achieving the dream.</p>
                        <p align="justify">Hopefully, with participation of like minded parents, this might evolve in to a resource platform for future generations of parents.</p>

                    </div>
                </div>
            </div>
        </main>
{% endblock %}
